@import url('https://www.sky.com/assets/toolkit/v2.39.2/toolkit.min.css');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;

  .logo {
    height: 5em;
    display: block;
  }
}
